@model IEnumerable<NorthwindService.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WCF Client Uygulaması</h1>
    @if (ViewBag.mesaj !=null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.mesaj
        </div>
    }
    <form method="get">
        <button type="submit" class="btn btn-outline-success btn-lg float-left" asp-action="Insert" asp-controller="Home">Ekle</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">Ad Soyad</th>
                <th scope="col">Tc</th>
                <th scope="col">Giriş Saati</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Sil</th>
                <th scope="col">Görüntüle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.EmployeeId</th>
                    <td>@item.AdSoyad</td>
                    <td>@item.TcNo</td>
                    <td>@item.GirisSaati</td>
                    <td>@item.Aciklama</td>
                    <form method="post">
                        <td><button type="submit" class="btn btn-outline-danger" asp-action="Delete" asp-controller="Home" asp-route-id="@item.EmployeeId">Sil</button></td>
                    </form>
                    <form method="post">
                        <td> <button type="submit" class="btn btn-outline-info" asp-action="ViewEmployee" asp-controller="Home" asp-route-id="@item.EmployeeId">Görüntüle</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>

</div>
