@model NorthwindService.Employee

@{
    ViewData["Title"] = "ViewEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewEmployee</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GirisSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GirisSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.EmployeeId  }) |
    <a asp-action="Index">Back to List</a>
</div>
